Repository BF-FrontEnd-class-2024/group4-loruki-rebuild, pull requests merged in 2024-01, with the labels that each got.

#3 update-constraints
  planning/constraints.md
Labels: md

#4 design-img
  planning/design.md
  planning/loruki.svg
Labels: md

#9 add communication
  .cspell.json
  planning/communication.md
Labels: md

#10 backlog
  planning/backlog.md
Labels: md

#14 readme
  .cspell.json
  README.md
  planning/sho.png
Labels: md

#17 add title html
  .cspell.json
  index.html
Labels: html

#19 add-html
  index.html
Labels: html

#20 add-title-css
  index.html
  styles/index.css
Labels: Css

#23 add showcase html
  index.html
Labels: html

#24 add showcase css
  index.html
  styles/index.css
Labels: Css

#27 add statshtmlfile
  .cspell.json
  index.html
  styles/img/cli.png
  styles/img/cloud.png
  styles/img/dots.png
  styles/img/servers.png
Labels: html

#28 add statscss
  index.html
  styles/index.css
Labels: Css

#31 add-cloudbg-html
  index.html
  styles/img/cloud-bg.png
Labels: html

#32 add-cloudbg-css
  index.html
  styles/index.css
Labels: Css

#35 add support lang
  index.html
  planning/logos/clojure.png
  planning/logos/csharp.png
  planning/logos/go.png
  planning/logos/node.png
  planning/logos/php.png
  planning/logos/python.png
  planning/logos/ruby.png
  planning/logos/scala.png
Labels: html

#38 add lang-css
  README.md
  index.html
  styles/index.css
Labels: Css

#43 add footer
  index.html
  styles/index.css
Labels: html

#44 add footer-css
  styles/index.css
Labels: Css
